{% extends "base.html" %}

{% load admin_urls game_score_chart %}

{% block content %}

    <a href="{% url 'game_add' %}" class="btn btn-success">Add a result</a>

    <div class="row">
        <div class="span6">
            <div class="scores">
                <h2>Scores</h2>
                {% if score_board %}
                    <ol class="score-board">
                        {% for team in score_board %}
                            <li class="score-item">{{ team }} ({{ team.score }})</li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No scores registered yet.</p>
                {% endif %}
            </div>
        </div>

        <div class="span6">
            <div class="latest-results">
                {% if latest_results %}
                    <h2>Last 20 games</h2>
                    <ul class="games">
                    {% for result in latest_results %}
                        <li class="game-item">
                            <a href="{% url 'game_detail' result.id %}">{{ result }} - {{ result.date }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No result yet.</p>
                {% endif %}
            </div>
        </div>

        <div class="span12">
            <div class="score-chart-week">
                <h2>Score evolution</h2>
                {% score_chart  %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
{% endblock %}
